// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {

  text-align: center;
  margin-top: 3rem;
  background-color: #fff;
  p {
    font-size: 0.9rem;
  }
  left: 1rem;
  right: 1rem;
  a {
    text-decoration: underline;
  }
  @media screen and (min-width: map-get($breakpoints, medium)) {
    position: fixed;
    bottom: 0rem;
  }
}
